 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: Arial, sans-serif;
     background-color: #222;
     color: #fff;
     font-size: 18px;
     margin: 0;
 }

 .container {
     padding: .25em;
     max-width: 100%;
     margin: 3.5rem .25rem;
     padding: 0 .25em;
     box-sizing: border-box;
 }

 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
 }

 section {
     min-height: 100vh;
     padding: 2rem .75rem;
     border: .05rem solid #fff;
     box-shadow: 0 0 .8rem #fff;
     border-radius: .5rem;
     margin-bottom: 3.5rem;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 section:hover {
     border: .1rem solid darkgoldenrod;
     box-shadow: 0 0 .8rem darkgoldenrod;
 }

 #upcoming {
     margin-top: 2em;
 }

 #past {
     background-color: #333;
 }

 .main {
     margin-bottom: 20px;
 }

 h1 {
     color: #ffd700;
     font-size: 3em;
     margin-top: 2em;
     text-align: center;
 }

 h2 {
     color: darkgoldenrod;
     font-size: 1.5em;
     text-align: center;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 /* li {
  float: ;
} */

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }

 .active {
     background-color: darkgoldenrod;
 }

 iframe {
     width: 100%;
     height: 100vh;
     margin: 1em auto;
 }

 .input-group {
     margin-bottom: 20px;
 }

 .input-group label {
     display: block;
     margin-bottom: 10px;
     font-size: 1em;
 }

 .input-group input {
     width: 95%;
     padding: 10px;
     font-size: 28px;
     background-color: #555;
     color: #fff;
     border: none;
     border-radius: 4px;
 }

 .buttons {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .button-group {
     margin-bottom: 20px;
 }

 .button-group button {
     padding: 16px 32px;
     font-size: 24px;
     background-color: #4a4a4a;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .button-group button:hover {
     background-color: #666;
 }

 #result-container {
     margin-top: 20px;
     display: none;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     background-color: #333;
     color: #fff;
     margin-top: 20px;
     font-size: 24px;
 }

 th,
 td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #666;
 }

 th {
     background-color: #555;
 }

 tbody tr:nth-child(even) {
     background-color: #444;
 }

 .scroll-button {
     position: fixed;
     width: 80px;
     height: 80px;
     z-index: 1000;
     background-color: #000;
     color: #fff;
     border: none;
     border-radius: 50%;
     font-size: 40px;
     cursor: pointer;
     opacity: 0.2;
     transition: opacity 0.3s ease;
 }

 #scrollToTopButton {
     bottom: 40px;
     right: 40px;
 }

 #scrollToBottomButton {
     bottom: 140px;
     right: 40px;
 }

 .scroll-button:hover {
     opacity: 1;
 }

 .dark-mode .scroll-button {
     background-color: #fff;
     color: #000;
 }

 .probabilities-table {
     border: 2px solid #ddd;
     background-color: #333;
     color: #fff;
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
     font-size: 32px;
 }

 .probabilities-table thead th {
     padding: 0.6em;
     text-align: left;
     border-bottom: 1px solid #ddd;
     border-left: 1px solid #ddd;
 }

 .probabilities-table tbody td {
     padding: 0.7em;
     border-bottom: 1px solid #ddd;
 }

 .probabilities-table tbody tr:last-child td {
     border-bottom: none;
 }

 .probabilities-table tbody tr:nth-child(even) {
     background-color: #444;
 }

 .probabilities-table tbody tr:nth-child(odd) {
     background-color: #222;
 }

 .probabilities-table tbody td:nth-child(1),
 .probabilities-table tbody td:nth-child(2) {
     font-family: "Courier New", monospace;
     font-size: 28px;
     white-space: nowrap;
     border-right: 1px solid #ddd;
     padding-right: 0.3em;
 }

 .probabilities-table tbody td:nth-child(2) {
     font-weight: bold;
     border-left: 1px solid #ddd;
     padding-left: 0.3em;
 }

 .probabilities-table tbody td:nth-child(3),
 .probabilities-table tbody td:nth-child(4),
 .probabilities-table tbody td:nth-child(5) {
     text-align: center;
     font-size: 40px;
 }

 .probabilities-table tbody td:nth-child(3) {
     color: #a5d6a7;
 }

 .probabilities-table tbody td:nth-child(4) {
     color: #ffcc80;
 }

 .probabilities-table tbody td:nth-child(5) {
     color: #ef9a9a;
 }

 .data-control {
     display: flex;
     align-items: center;
 }

 .data-control .button-group:last-child {
     margin-right: 0;
 }

 .load {
     margin-top: 10px;
 }

 .load .input-group input[type="file"],
 .input-group input[type="file"] {
     display: none;
 }

 .load .input-group label,
 .data-control .button-group button,
 .button-group button[type="button"] {
     background-color: #4a4a4a;
     color: #fff;
     padding: 8px 16px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .load .input-group label:hover,
 .data-control .button-group button:hover,
 .button-group button[type="button"]:hover {
     background-color: #e1e1e1;
 }

 .table-container {
     overflow-x: auto;
     /* Enable horizontal scrolling on small screens */
 }

 input[type="checkbox"]:checked::before {
     content: "✔";
     /* Display a checkmark character */
     display: block;
     font-size: 1.2em;
     color: #fff;
     /* Checkmark color for dark mode */
     text-align: center;
     line-height: 1.2em;
     background-color: #007acc;
     /* Background color for checked checkboxes */
     border-radius: 50%;
 }

 #select-data {
     text-align: center;
     font-size: 1.2em;
 }

 #select-data select {
     margin-right: 2em;
     font-size: 1.2em;
     background-color: darkgoldenrod;
     border-radius: .3em;
     color: white;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }


 #upcoming-date-filter,
 #past-date-filter {
     margin: .8em;
     padding: .8em;
     font-size: 1em;
     color: #ccc;
     text-align: center;
 }

 #upcoming-date-filter {
    background-color: #111;
 }

 #past-date-filter {
    background-color: #222;
 }

 #dataTable_length,
 #dataTable_filter,
 #dataTable1_length,
 #dataTable1_filter {
     margin: .8em;
     padding: .8em;
     font-size: 1em;
 }

 #dataTable td,
 #dataTable th {
     font-size: .6em;
 }

 #dataTable1 td,
 #dataTable1 th {
     font-size: .6em;
 }

 .shrink-style {
     font-size: .7em;
     border-right: 1px solid #ccc;
     width: 4em;
 }

 .dropdown ul {
     display: none;
     position: absolute;
     background-color: darkslategrey;
     min-width: 160px;
     z-index: 1;
 }

 .dropdown:hover ul {
     display: block;
 }


 .loading-container {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-size: 24px;
     z-index: 1100;
 }

 .loading-spinner {
     border: 16px solid #ddd;
     border-top: 16px solid #3498db;
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 1.5s linear infinite;
 }

 .message p {
     font-family: system-ui, monospace;
     text-align: center;
     margin: 10px;
     color: #ddd;
     font-weight: 400;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

.row-details {
    background-color: #111;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.row-details p {
    margin: 5px 0;
    line-height: 1.4;
    font-size: 14px;
}

 /* Media query for smaller screens */
 @media (max-width: 600px) {
     h1 {
         font-size: 1.2em;
     }

     .input-group input {
         width: 90%;
         padding: 5px;
         font-size: 0.8em;
     }

     .button-group button {
         font-size: 0.8em;
     }

     table {
         font-size: 0.8em;
     }

     .probabilities-table thead th {
         font-size: 0.3em;
     }

     .probabilities-table tbody td {
         padding: 4px;
     }

     .probabilities-table thead th:nth-child(1),
     .probabilities-table tbody td:nth-child(1) {
         display: none;
     }

     .probabilities-table tbody td:nth-child(2) {
         font-size: 0.4em;
     }

     .probabilities-table tbody td:nth-child(3),
     .probabilities-table tbody td:nth-child(4),
     .probabilities-table tbody td:nth-child(5) {
         font-size: 0.4em;
     }

     .scroll-button {
         width: 2em;
         height: 2em;
         font-size: 1.2em;
     }

     #scrollToTopButton {
         bottom: 40px;
         right: 40px;
     }

     #scrollToBottomButton {
         bottom: 110px;
         right: 40px;
     }
 }
